@import '../../sass/variables';

.a {
    text-decoration: none;
    margin-bottom: 1rem;
}
.productCard {
    margin-left: 1rem;
    box-shadow: $small-shadow;
    border-radius: $radius8;
    color: #434334;
    &:hover {
        color: rgba(#434343, 0.9);
    }
    .header {
        border-radius: 8px;
        width: 100%;
        img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }
    .body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0.5rem;
        min-height: 9rem;
    }
    .heading3 {
        font-size: 1.14rem;
    }
    .aside {
        color: #fff;
        width: 100%;
        padding: 0.5rem;
        height: 3rem;
        h3 {
            font-size: 1.14rem;
            line-height: 1.85rem;
            margin-bottom: 0;
        }
    }
    .coral {
        background-color: coral;
    }
    .lapislazuli {
        background-color: #26619c;
    }
}
