.a {
    text-decoration: none;
}
.productCard {
    margin-left: 1rem;
    box-shadow: 0 0.8rem 3.4rem rgba(0, 0, 0, 0.15);
    color: #434334;
    &:hover {
        color: rgba(#434343, 0.9);
    }
    .header {
        width: 100%;
    }
    .body {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
    }
    .heading3 {
        font-size: 1.17rem;
    }
    .aside {
        background-color: coral;
        width: 100%;
        padding: 0.5rem;
        height: 3rem;
    }
}