@import '../../sass/colors';

.footer {
    position: relative;
    background-color: $lightGray-100;
    color: $black;
    a {
        text-decoration: none;
        color: $black;
        font-weight: 600;
        &:hover {
            color: rgba($black, 0.9);
        }
    }
}
