@import '../../sass/colors';
@import '../../sass/variables';

.order {
    width: 100%;
    .header {
        border-top-right-radius: $radius4;
        border-top-left-radius: $radius4;
        .logo {
            background-color: $black;
            width: 160px;
            display: block;
            img {
                max-width: 100%;
            }
        }
    }
}
