@import '../../sass/colors';

.couponWrapper {
    height: 300px;
    .card {
        max-width: 100%;
        height: 300px;
    }
    .coupon {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 300px;
        .titlePart {
            width: 35%;
            background-color: $black;
            color: $white;
        }
        .mainPart {
            width: 65%;
            background-image: url('/images/coupon.png');
        }
    }
}
