$white: #ffffff;
$lightGray: #dcdcdc;
$lightGray-100: #f5f7fa;
$black: #282a3c;
$darkSlateGrey: #2d3544;
$darkSlateGrey-80: rgba(45, 53, 68, 0.8);
$darkSlateGrey-90: rgba(45, 53, 68, 0.9);

$mainPurple: #30283C;
$midnightBlue: #2c2761;
$dimray: #794988;
$red: firebrick;

/* Spinner colors */
$bg-color: rgba(#fff, 0.8); //container background-color;
$basic-dark-color: #212121; //color of the spinner
