$white: #ffffff;
$black: #434343;
$darkSlateGrey: #2d3544;
$darkSlateGrey-80: rgba(45, 53, 68, 0.8);
$darkSlateGrey-90: rgba(45, 53, 68, 0.9);

/* Spinner colors */
$bg-color: rgba(#fff, 0.8); //container background-color;
$basic-dark-color: #212121; //color of the spinner
