$border-width: 0.25rem; //width of spinners border
$basic-spinner-dimensions: 7.813rem; //width and height of spinner
$main-spinner-dimensions: $basic-spinner-dimensions - $border-width * 2; //width and height of bigger circle
$small-spinner-dimensions: $main-spinner-dimensions * 0.7; //width and height of smaller circle