@import '../../sass/colors';

.modButtons {
    display: flex;
    border-radius: 50%;
    .modButton {
        border: 2px solid $black;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        &:first-child {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
        }
         &:last-child {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .icon--xs {
            width: 100% !important;
            height: 100% !important;
        }
    }
    input {
        border: 2px solid $black;
        color: $black;
        min-width: 4rem;
        padding: 0 0.5rem;
    }
}