@import '../../sass/colors';

.modButtons {
    display: flex;
    .modButton {
        border: 2px solid $black;
        color: $black;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}