@import '../../sass/colors';

.button {
    color: $white !important;
    display: flex !important;
    flex-direction: row !important;
    transition: background-color ease-in 120ms;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1.2px;
    &:disabled {
        cursor: not-allowed !important;
        pointer-events: none;
    }
    &.default {
        background-color: transparent;
        border: 2px $black solid;
        border-radius: 8px;
        color: $black !important;
    }
    &.success {
        background-color: $dimray;
        &:hover {
            background-color: rgba($dimray, 0.8);
        }
    }
    &.warning {
        background-color: rgba($orange, 0.7);
        border: 2px solid $orange;
        &:hover {
            background-color: rgba($orange, 0.8);
        }
    }
    &.purchase {
        background-color: rgba($color-dark-green, 0.8);
        border: 2px solid $color-dark-green;
         &:hover {
            background-color: rgba($color-dark-green, 0.9);
        }
    }
    &.secondary {
        background-color: rgba($darkGray, 0.8);
        border: 2px solid $darkGray;
         &:hover {
            background-color: rgba($darkGray, 0.9);
        }
    }
    &.disabled {
        background-color: $lightGray;
        cursor: not-allowed !important;
    }
}
