@import '../../sass/colors';

.button {
    color: $white !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    &:disabled {
        cursor: not-allowed !important;
        pointer-events: none;
    }
    &.default {
        background-color: transparent;
        border: 2px $black solid;
        border-radius: 8px;
        color: $black;
    }
    &.success {
        background-color: $dimray;
        &:hover {
            background-color: rgba($dimray, 0.8);
        }
    }
    &.warning {
        background-color: rgba($orange, 0.7);
        border: 2px solid $orange;
        &:hover {
            background-color: rgba($orange, 0.8);
        }
    }
    &.purchase {
        background-color: $color-dark-green;
    }
    &.secondary {
        background-color: $darkGray;
    }
    &.disabled {
        background-color: $lightGray;
        cursor: not-allowed !important;
    }
}
