@import '../../sass/colors';
@import '../../sass/variables';

.link {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    color: $white;
    &:hover {
        color: #282a3c;
        background-color: $white;
    }
    &:visited {
        color: $white;
    }
}
.sidebar {
    height: 90vh;
    position: fixed;
    left: 0;
    top: 9.183rem;
    background-color: #282a3c;
    box-shadow: $medium-shadow;
    .sidebarHeader {
        color: $white;
        padding: 1.3rem 2rem;
    }
}
