@import '../../sass/colors';

.icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    span {
        transform: translate(-100%,-50%)!important;
    }
}

.iconNavbar {
    width: 3rem !important;
    height: 3rem !important;
    color: $white !important;
}
