@import '../../sass/variables';
@import '../../sass/colors';

.header {
    display: flex;
    height: 9.183rem;
    box-shadow: $medium-shadow;
}

.navbar {
    background-color: $black;
}

.link {
        color: #fff !important;
        font-size: 1.1rem;
    }

.logo {
    max-width: 130px;
}
